@import "./fonts.css";

.banner {
  position: relative;
  color: white;
  height: 50rem;
}

.banner-logo {
  position: relative;
  transform: scale(0.5);
  margin-right: 9rem;
  margin-left: -12.7rem;
  margin-bottom: -5rem;
}

.HideBannerVid {
  opacity: 0;
}

iframe {
  margin-top: -60px;
}

.banner_overlay {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-image: linear-gradient(
    to bottom,
    rgb(14, 14, 14, 0) 10%,
    rgb(14, 14, 14, 0.9) 60%,
    rgb(14, 14, 14, 0.9) 20%,
    #181818 100%
  );
}

.banner_contents {
  position: absolute;
  left: 2rem;
  bottom: 7rem;
  user-select: none;
}

.banner_description {
  font-family: "Netlite";
  line-height: 1.4;
  padding-bottom: 1.5rem;
  font-size: 1.2rem;
  max-width: 20rem;
  margin-left: 0.1rem;
}

.banner_button {
  font-family: "Netmid";
  cursor: pointer;
  color: #000;
  background-color: #fff;
  outline: none;
  border: none;
  font-size: 1.1rem;
  border-radius: 0.3vw;
  margin-left: 0.1;
  padding-top: 0.7rem;
  padding-bottom: 0.8rem;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-right: 1rem;
  background-color: #fff;
}

.banner_button:nth-child(3) {
  color: #fff;
  background-color: rgba(255, 255, 255, 0.7);
}

.banner_button:hover {
  color: black;
  background-color: rgba(245, 245, 245, 0.9);
  transition: all 0.1s;
}

.banner_button:nth-child(3):hover {
  color: #fff;
  background-color: rgba(134, 134, 134, 0.35);
  transition: all 0.1s;
}

.info {
  transform: scale(1.2);
  margin-right: 0.5rem;
}
.play {
  transform: scale(1.2);
  margin-left: 0.5rem;
  margin-right: 0.7rem;
}

/*--responsive--*/

/*Tablets*/

/*Mobile*/
@media only screen and (max-width: 875px) {
  .banner_contents {
    padding-top: 6rem;
    margin-left: 2rem;
  }
}
