@import "./fonts.css";

.nav {
  z-index: 1;
  height: 41px;
  width: 100%;
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 1, 0.65),
    rgba(0, 0, 0, 0)
  );
  position: fixed;
  display: flex;
  align-items: center;
  padding: 0 4%;
  font-size: 1.2rem;
  transition: background-color 0.4s;
  font-family: "Netreg";
  text-decoration: none;
  transition-property: background-color;
  transition-duration: 0.4s;
  transition-timing-function: ease;
  transition-delay: 0s;
}

.nav_darken {
  background-color: #141414;
}

.Netflix_Logo {
  cursor: pointer;
  margin-right: 5px;
  vertical-align: middle;
  position: fixed;
  left: 45px;
  width: 100px;
  object-fit: contain;
}

.primary-navigation {
  margin: 0;
  padding: 0;
  align-items: center;
  display: flex;
  -webkit-box-align: center;
}

.primary-navigation ul {
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-end: 0px;
  margin-inline-start: 0px;
  padding-inline-start: 40px;
}

.primary-navigation {
  font-family: "Netreg";
  color: #fff;
  margin-left: 100px;
}

.navigation-menu {
  list-style-type: none;
  margin-left: 18px;
}

.navigation-menu li {
  display: list-item;
  text-align: center;
}

.menu-trigger {
  align-items: center;
  display: flex;
  height: 100%;
  margin-left: 130px;
}

.menu-trigger a {
  text-decoration: none;
  cursor: pointer;
  background-color: transparent;
}

.navigation-tab {
  display: none;
  list-style-type: none;
  margin-left: 18px;
  color: #e5e5e5;
}

.second-navigation {
  display: flex;
  align-items: center;
  flex-grow: 1;
  justify-content: flex-end;
  position: absolute;
  right: 4%;
  top: 0;
  height: 100%;
}

.children {
  display: none;
}

.nav-element {
  display: block;
  margin-right: 23px;
}

input[type="search"] {
  width: 0px;
  border: none;
  background-image: url("../img/Marisearch.png");
  background-repeat: no-repeat;
  background-position: 5px;
  background-size: 1.2rem;
  background-color: rgb(0, 0, 0, 0);
  padding: 12px 0px 5px 40px;
  padding-top: 9px;
  transition: width 0.2s ease-in-out;
  font-size: 0.8rem;
  color: #fff;
  cursor: pointer;
}

input[type="search"]::placeholder {
  font-size: 1rem;
}

input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  height: 1.2rem;
  width: 1.2rem;
  background: url(https://www.pngfind.com/pngs/m/60-609333_x-cross-png-close-icon-svg-transparent-png.png)
    no-repeat;
  background-size: contain;
  opacity: 0;
  pointer-events: none;
  padding-bottom: 5px;
}

input[type="search"]:focus::-webkit-search-cancel-button {
  opacity: 1;
  pointer-events: all;
}

input[type="search"]:focus {
  padding-left: 40px;
  width: 255px;
  background-position: 5px;
  background-color: rgb(0, 0, 0, 0.7);
}

.navImg {
  height: 1.3rem;
  cursor: pointer;
}

.account-menu-item {
  display: flex;
}

.account {
  height: 2rem;
  cursor: pointer;
}

.caretPos1 {
  padding-bottom: 10px;
}

.caretPos2 {
  padding-top: 5px;
}

.triangleUpPos {
  display: inline-block;
  margin-right: 152px;
  width: 100px;
}

.triangleDown {
  display: inline-block;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #fff;
  margin-left: 0.5rem;
}

.triangleUp {
  margin-top: 10px;
  width: 20px;
  height: 0px;
  margin-left: 120px;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #fff;
}

.account-dropdown-button {
  z-index: 1;
  position: absolute;
  right: 0;
  margin-top: 25px;
  margin-right: 1.3rem;
  min-width: 10rem;
  display: none;
}

.dropdownAccountContent {
  z-index: 1;
  font-family: "Netreg";
  background-color: rgba(0, 0, 0, 0.89);
  border: solid 1px gray;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.dropdownAccountContent a {
  color: #fff;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdownAccountContent a:hover {
  text-decoration: underline;
}

.collapsePrimary {
  background-color: rgba(0, 0, 0, 0.89);
  border: solid 1px gray;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  text-align: center;
}

.collapsePrimary a:hover {
  background-color: rgba(255, 255, 255, 0.1);
  opacity: 0.6;
}

.collapsePrimary a {
  color: #fff;
  width: 100%;
  text-decoration: none;
  display: block;
  padding: 10px 0;
}

.dropdownAccountContent div {
  border-top: solid 1px gray;
}

.account-menu-item:hover .account-dropdown-button {
  display: block;
}

.browseContent {
  left: 0;
  margin-left: 122px;
  margin-top: 210px;
  font-family: "Netreg";
  z-index: 1;
  display: none;
  position: absolute;
}

.menu-trigger:hover .browseContent {
  display: block;
}

@media screen and (min-width: 1200px) {
  .nav {
    height: 68px;
    font-size: 14px;
  }
  .navigation-tab {
    transition: color 0.4s;
    display: block;
  }
  .menu-trigger {
    display: none;
  }

  .children {
    display: block;
  }
}


@media screen and (max-width: 700px) {

  .second-navigation {
    display: none;
  }
}


