.modalBg {
  position: fixed;
  display: block;
  z-index: 3;
  background-size: cover;
  background-color: rgb(0, 0, 0, 0.7);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-y: auto;
  overflow-x: hidden;
  padding-top: 3.5rem;
}

.modalContainer {
  display: flex;
  justify-content: center;
}

.videomodal {
  margin-top: 2.4rem;
  height: 100%;
}

.modal_info {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 0;
  height: 850px;
}

.Movie-logo {
  margin-left: 0.85rem;
  margin-top: 8rem;
  width: 20%;
  height: auto;
}
.nologo{
  margin-left: 0.85rem;
  margin-top: 8rem;

  height: 5rem;

}
.modalBtns {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 2rem;
  width: 48.34rem;
  padding-bottom: 3.7rem;
  padding-left: 0.8rem;
  margin-top: 10px;
  background-image: linear-gradient(
    to bottom,
    rgb(18, 18, 18, 0) 10%,
    rgb(18, 18, 18, 0.5) 30%,
    rgb(18, 18, 18, 0.9) 70%,
    #181818 80%
  );
}

.modal_Description {
  display: flex;
  position: absolute;
  font-family: "Netlite";
  padding: 20px 20px 20px 14px;
  background-color: #181818;
  height: 30rem;
  width: 48.35rem;
  margin-top: -4rem;
}

.Movie_info {
  display: flex;
  justify-content: space-between;
  width: 48.35rem;
}

.infoRight {
  width: 10rem;
}

.infoRight div {
  margin-bottom: 1rem;
}

.infoRight div h5 {
  color: gray;
}

.infoLeft {
  width: 33rem;
  margin-left: 1rem;
}

.infoLeft div {
  margin-bottom: 1rem;
}

.length-director-overview {
  max-width: 70%;
  padding: 0.75rem;
}

.infoPlay {
  font-family: "Netmid";
  font-size: 1.2rem;
  cursor: pointer;
  color: #000;
  background-color: #fff;
  outline: none;
  border: none;
  border-radius: 0.3vw;
  padding-top: 0.5rem;
  padding-bottom: 0.7rem;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-right: 1rem;
  z-index: 50;
}

.RoundBtn {
  transform: scale(1.2);
  cursor: pointer;
  color: #fff;
  background-color: rgba(42, 42, 42, 0.6);
  border: solid 2px rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  outline: none;
  height: 3rem;
  width: 3rem;
  margin-right: 1rem;
}

.iconsize {
  transform: scale(1.6);
}

.playInfo {
  transform: scale(1.2);
  margin-left: 0.8rem;
  margin-right: 0.7rem;
}

.CloseBtn {
  margin-top: 3rem;
  margin-left: 45rem;
  cursor: pointer;
  color: #fff;
  background-color: #181818;
  border-color: rgba(255, 255, 255, 0.5);
  border: none;
  border-radius: 50%;
  outline: none;
  height: 2.4rem;
  width: 2.4rem;
}
