@import "./fonts.css";

.row {
  font-family: "Netreg";
  font-size: 1rem;
  color: #e5e5e5;
  margin-top: 1rem;
}

h2 {
  margin-left: 1.25rem;
}

.buttonLeft {
  height: 100%;
  width: 5rem;
  color: white;
  background-color: rgba(20, 20, 20, 0.5);
  border: none;
  outline: none;
  display: none;
  position: inherit;
  align-items: center;
}
.buttonRight {
  height: 100%;
  width: 5rem;
  color: white;
  background-color: rgba(20, 20, 20, 0.5);
  border: none;
  outline: none;
  display: none;
  position: inherit;
  align-items: center;
}

.darkL {
  margin-top: 0.6rem;
  height: 7.58rem;
  width: 5rem;
  position: absolute;
}

.darkR {
  right: 0;
  margin-top: 0.6rem;
  height: 7.58rem;
  width: 5rem;
  position: absolute;
}

.scroll {
  display: flex;
}

.buttonLeft .buttonRight:hover {
  cursor: pointer;
}

.row:hover .buttonRight {
  display: block;
}

.row:hover .buttonLeft {
  display: block;
}

.leftclick {
  transform: scale(3);
}

.rightclick {
  transform: scale(3);
}

.row_posters {
  display: flex;
  justify-content: space-between;
  overflow-y: hidden;
  overflow-x: scroll;
  padding: 10px;
  cursor: pointer;
}

.row_posters::-webkit-scrollbar {
  display: none;
}

.row_poster {
  object-fit: contain;
  width: 13.4rem;
  margin-right: 0.3rem;
  transition: transform 250ms;
  border-radius: 5px;
}

.Popup {
  width: 325px;
  background-color: #141414;
  position: relative;
  top: 0;
  left: 0;
}

.Popupcontent button {
  width: 43px;
  border-radius: 50%;
  background: none;
  border: solid 3px white;
}

.row_posters:hover .Popup {
  background-color: brown;
}
