@import "./fonts.css";

.row {
  font-family: "Netreg";
  font-size: 1rem;
  color: #e5e5e5;
  margin-top: 1rem;
  
}

.arrows {
  display: none;
  position: absolute;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  z-index: 10;
}

.size {
  background-color: rgba(20, 20, 20, 0.5);
  height: 9rem;
  color: white;
  border: none;
  border: none;
  width: 5rem;
  outline: none;
}

.size:hover {
  background-color: rgba(20, 20, 20, 0.5);
  width: 5rem;
  cursor: pointer;
}

.row:hover .arrows {
  display: flex;
}
.leftclick {
  transform: scale(3);
}

.rightclick {
  transform: scale(3);
}

.row_posters {
  display: flex;
  justify-content: space-between;
  overflow-y: hidden;
  overflow-x: scroll;
  padding: 10px;
  cursor: pointer;
}

.row_posters::-webkit-scrollbar {
  display: none;
}

.row_poster {
  object-fit: contain;
  width: 13.4rem;
  margin-right: 0.3rem;
  transition: transform 250ms;
  border-radius: 5px;
}

.Popup {
  width: 325px;
  background-color: #141414;
  position: relative;
  top: 0;
  left: 0;
}

.Popupcontent button {
  width: 43px;
  border-radius: 50%;
  background: none;
  border: solid 3px white;
}

.row_posters:hover .Popup {
  background-color: brown;
}
