@import "./fonts.css";

  ::selection{
    color: #131212;
    background: #9390a7;
  }
  
  
  .search-input, .search-input-movie{
    background: #fff;
    width: 300px;
    margin-top: 0px;
    border-radius: 5px;
    position: relative;
    box-shadow: 0px 1px 5px 3px rgba(0,0,0,0.12);
  }
  
  .search-input input, .search-input-movie input{
    height: 55px;
    width: 100%;
    outline: none;
    border: none;
    border-radius: 5px;
    padding: 0 60px 0 20px;
    font-size: 18px;
    box-shadow: 0px 1px 5px rgba(0,0,0,0.1);
  }
  

  .search-input.active input, .search-input-movie input{
    border-radius: 5px 5px 0 0;
  }
  
  .search-input .autocom-box{
    position: relative;
    /* left: -15px;
    top: 190px; */
    z-index: 50;
    padding: 0;
    opacity: 0;
    pointer-events: none;
    max-height: 280px;
    overflow-y: auto;
    border-radius: 30px;
    /* background-color: rgba(22, 21, 21, 0.7); */
    border-radius: 5px;
    
  }
  
  .search-input.active .autocom-box{
    padding: 5px 8px;
    opacity: 0.9;
    pointer-events: auto;
    
  }
  
  .autocom-box li{
    list-style: none;
    padding: 8px 12px;
    display: none;
    width: 100%;
    cursor: default;
    border-radius: 3px;
    color: rgb(29, 27, 27);
  }
  
  .search-input.active .autocom-box li{
    display: block;
  }
  .autocom-box li:hover{
    background: #efefef;
    color: black;
  }
  
  .search-input .icon{
    position: absolute;
    right: 0px;
    top: 0px;
    height: 70px;
    width: 70px;
    text-align: center;
    line-height: 55px;
    font-size: 20px;
    color: #2b2b2b;
    cursor: pointer;
  } 
   

