/* Tab Nav number One */
.tab-icon-door {
    width: 2.8125rem;
    height: 2.8125rem;
    fill: var(--main-gray);
}

/* Tab Nav Number Two */
.tab-icon-devices {
    width: 9.6875rem;
    height: 9.6875rem;
    fill: var(--main-gray);

}

/* Tab Nav Number three */
.tab-icon-price {
    width: 4.375rem;
    height:  4.375rem;
    fill: var(--main-gray);

}

.tabs {
    padding-top: 1rem;
}

.tab-nav-container {
    display: grid;
    list-style-type: none;
    justify-content: center;
    align-content: center;
    text-align: center;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
    color: var(--main-gray);
    margin: 0 12%;
}

/* Tabs nav Hover Effect */
ul li:hover {
    color: #fff;
    cursor: pointer;
}

ul li:hover svg path {
    fill: #fff;
}

/* The active Tab */
.active {
    border-bottom: 4px solid var(--main-red);
}

.tab-selected {
    color: #fff;
}

.tab-selected svg path {
    fill: #fff;
}